﻿<style>
    .cvEducation p {
        line-height: 1.5em;
    }
</style>

<div class="cvEducation">
    <h2>Silesian University of Technology in Gliwice</h2>
    <h3>2010 - 2014</h3>
    <p>Finished with a BS (inżynier) degree with specialization in databases, systems and computer networks.</p>
    <h2>V Liceum Ogólnokształcące im. Andrzeja Struga w Gliwicach</h2>
    <h3>2007 - 2010</h3>
    <p>High school, attended science-oriented class.</p>
</div>