﻿<style>
    .cvExperience h2 span:first-child {
        color: red;
    }

    .cvExperience p {
        line-height: 1.5em;
    }

    .cvKeywords span {
        border: 1px outset darkgray;
        padding: 5px;
        display: inline-block;
        margin-bottom: 10px;
    }

    .cvDescription span {
        color: white;
    }
</style>

@foreach(var item in experience)
{
    <div class="cvExperience">
        <h2><span>@item.Position</span> in <span>@item.CompanyName</span></h2>
        <h3>@item.From.ToString(DateFormat) - @(item.To?.ToString(DateFormat) ?? "current")</h3>
        @if(item.Description != null)
        { <p class="cvDescription"> @((MarkupString)item.Description)</p> }
        @if(item.Keywords != null)
        {
            <h3>Technologies</h3>
            <div class="cvKeywords">
                @foreach(var keyword in item.Keywords)
                {
                    <span>@keyword</span>
                }
            </div>
        }
        <hr />
    </div>
}


@functions {
    private const string DateFormat = "MMMM yyyy";

    private IEnumerable<Employment> experience = new List<Employment>
    {
        new Employment { CompanyName = "XSolve / Boldare", Position = "Software Engineer", From = new DateTime(2017, 3, 1),
            Description = "I was responsible for <span>development, maintenance and deployment</span> of a Windows 8.1 application (later ported to UWP) for a Danish company Agnitio. Moreover, I have also worked on some ASP.NET Core based backend components " +
                          "which allowed for a <span>near-real time access</span> to user data. Beside that I was also taking part in .NET <span>job interviews</span>.",
            Keywords = new [] { "UWP", "WinRT", "ASP.NET Core", "SQLite", "LiteDB", "MongoDB", "MySQL", "Windows 8.1", "Entity Framework Core", "Vue.js", "HTML/CSS", "HockeyApp", "Docker", "WebRTC", "SignalR Core", "Windows Store", "RabbitMQ" }
        },
        new Employment { CompanyName = "Future Processing sp. z o.o.", Position = "Software Engineer", From = new DateTime(2014, 6, 1), To = new DateTime(2017, 2, 28),
            Description = "Here I was working on a number of projects, both internal and commercial. My tasks included developing <span>web apps, automated tests, and mobile apps</span>. " +
                          "Most notably, I was the main author of Windows Phone version of FP's <span>conference apps</span> and a lead developer in Umbraco projects team we developed for a Scottish company ScreenMedia. I have also led Windows Phone <span>training workshops</span>.",
            Keywords = new [] { "ASP.NET MVC", "Mobile", "Web", "SQL Server", "Windows Phone", "WinRT", "Windows 8.1", "Umbraco", "Entity Framework", "Training", "Automation", "Azure", "SignalR" }
        },
        new Employment { CompanyName = "Kielce Institute of Design", Position = "Developer", From = new DateTime(2013,4, 1), To = new DateTime(2013, 5, 1),
            Description = "Short term contract work where I was developing a web app called Miejski Salon (City Salon)",
            Keywords = new [] { "Silverlight", "Web", "MySQL" }
        }
    };
}