﻿@inherits IndexComponent
@page "/"

<div class="logo noSelect">
    <span>❂</span>
</div>
<div class="desktop">
    <div class="appContainer" onmousemove="@MouseMove" onmouseup="@MouseUp" onclick="@OnClick">
        @foreach (var window in ApplicationService.Applications)
        {
            <Window State="window" Drag="@(resizing => SetDraggedWindow(window, resizing))"/>
        }
    </div>
    @if(showStartMenu)
    { <StartMenu/> }
    <TaskBar StartButtonPressed="OnStartButtonPressed"/>
</div>