﻿<style>
    .openFileDialog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 21px auto 40px;
    }
        .openFileDialog > span {
            font-weight: bold;
            padding-left: 5px;
            color: white;
        }

        .openFileDialog .explorerPane {
            border-right: none;
            border-bottom: 1px solid darkgray;
            border-top: 1px solid darkgray;
            height: 100%;
        }

        .openFileDialog > button {
            height: 30px;
            margin: 5px;
        }
</style>

<div class="dialog openFileDialog">
    <span>Open file</span>
    <div style="grid-column-end: span 2;">
        <StorageExplorerPane SelectedChanged="@(c => selected = c)"/>
    </div>
    <button onclick="@OkClick">OK</button>
    <button onclick="@(_ => OnCancel?.Invoke())">Cancel</button>
</div>

@functions {
    private FileSystemEntry selected;

    [Parameter]
    private Action OnCancel { get; set; }

    [Parameter]
    private Action<FileSystemEntry> OnOk { get; set; }

    private void OkClick()
    {
        if (selected == null || selected.IsDirectory) return;
        OnOk?.Invoke(selected);
    }
}