﻿@inject StorageService storage

<style>
    .saveFileDialog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 21px 1fr 35px auto 40px;
    }

        .saveFileDialog > span {
            font-weight: bold;
            padding-left: 5px;
            color: white;
        }

        .saveFileDialog .explorerPane {
            border-right: none;
            border-bottom: 1px solid darkgray;
            border-top: 1px solid darkgray;
            height: 100%;
        }

        .saveFileDialog > input {
            margin: 5px 5px 0 5px;
            grid-column-end: span 2;
        }

        .saveFileDialog > .nameError {
            color: red;
            grid-column-end: span 2;
            font-size: 15px;
        }

        .saveFileDialog > button {
            height: 30px;
            margin: 5px;
        }
</style>

<div class="dialog saveFileDialog">
    <span>Save file</span>
    <div style="grid-column-end: span 2;">
        <StorageExplorerPane SelectedChanged="@OnSelectedChanged" DirectoryChanged="@(c => currentDirectory = c)"/>
    </div>
    <input placeholder="File name..." bind="fileName" onchange="@(_ => selected = null)"/>
    <div class="nameError">
        @(nameConflict ? "Item with this name already exists." : string.Empty)
    </div>
    <button onclick="@OkClick">OK</button>
    <button onclick="@(_ => OnCancel?.Invoke())">Cancel</button>
</div>

@functions {
    private FileSystemEntry selected;
    private FileSystemEntry currentDirectory;
    private string fileName;
    private bool nameConflict;

    [Parameter]
    private Action OnCancel { get; set; }

    [Parameter]
    private Action<FileSystemEntry> OnOk { get; set; }

    [Parameter]
    private string FileContent { get; set; }

    private void OnSelectedChanged(FileSystemEntry entry)
    {
        selected = entry;
        if (selected != null && !selected.IsDirectory) fileName = selected.Name;
        StateHasChanged();
    }

    private async Task OkClick()
    {
        nameConflict = false;
        if (selected == null && string.IsNullOrWhiteSpace(fileName) || (selected?.IsDirectory ?? false)) return;
        else if (selected != null && !selected.IsDirectory)
        {
            await storage.SetFileContent(selected, FileContent);
        }
        else
        {
            try
            {
                selected = await storage.CreateFile(currentDirectory, fileName, FileContent);
            }
            catch { nameConflict = true; }
        }

        OnOk?.Invoke(selected);
    }
}