﻿@inherits StartMenuComponent

<div class="startMenu noSelect">
    <div class="startMainMenu">
        @foreach (var item in menuItems)
        {
            <div onclick="@(_ => MenuItemClick(item))" onmouseover="@(_ => OnMenuHover(item))" class="menuItem @(currentTree.Contains(item) ? "active" : string.Empty)">
                <span>@item.Icon</span>
                <span>@item.Title</span>
                @if (item.HasChildren)
                {
                    <span class="childrenIndicator">▸</span>
                }
            </div>
        }
    </div>
    @foreach (var menu in currentTree)
    {
        <div class="startSecondaryMenu" style="@GetOffsets(menu)">
            @foreach (var item in menu.Children)
            {
                <div onclick="@(_ => MenuItemClick(item))" onmouseover="@(_ => OnMenuHover(item))" class="menuItem @(currentTree.Contains(item) ? "active" : string.Empty)">
                    <span>@item.Icon</span>
                    <span>@item.Title</span>
                    @if (item.HasChildren)
                    {
                        <span class="childrenIndicator">▸</span>
                    }
                </div>
            }
        </div>
    }
</div>