﻿@inject StorageService storage
@inject ApplicationService appService

<div class="explorerPane noSelect" onclick="@(_ => Activate?.Invoke())">
    <div class="explorerPath @(IsActive ? "active" : string.Empty)">
        @foreach (var item in path.Reverse())
        {
            <div onclick="@(_ => SetCurrentDirectory(item))">@item.Name/</div>
        }
    </div>
    @if (currentDirectory != null)
    {
        <div class="currentDirectory">
            @if (path.Count > 1)
            {
                <div ondblclick="@(_ => { path.Pop(); SetCurrentDirectory(path.First()); })">../</div>
            }
            @foreach (var item in currentDirectory.Children)
            {
                <div class="@(item == selected ? "active" : string.Empty)" onclick="@(e => { if (e.Button == 0) Select(item); else Select(null); })" ondblclick="@(_ => ItemDoubleClicked(item))">
                    <span class="explorerItemIcon">@(item.IsDirectory ? "🗀" : item.Icon)</span>
                    @item.Name
                    <span class="explorerLastModification">@item.LastModification</span>
                </div>
            }
        </div>
    }
</div>

@functions {
    private Stack<FileSystemEntry> path = new Stack<FileSystemEntry>();

    private FileSystemEntry currentDirectory;
    private FileSystemEntry selected;

    [Parameter]
    private Action<FileSystemEntry> DirectoryChanged { get; set; }

    [Parameter]
    private Action<FileSystemEntry> SelectedChanged { get; set; }

    [Parameter]
    private Action Activate { get; set; }

    [Parameter]
    private bool IsActive { get; set; }

    [Parameter]
    private bool CanLaunchApps { get; set; }

    private void SetCurrentDirectory(FileSystemEntry entry)
    {
        selected = null;
        currentDirectory = entry;
        if (path.Contains(entry))
        {
            while (path.First() != entry) path.Pop();
        }
        else path.Push(entry);
        DirectoryChanged?.Invoke(currentDirectory);
    }

    private void Select(FileSystemEntry entry)
    {
        selected = entry;
        SelectedChanged?.Invoke(selected);
    }

    private void ItemDoubleClicked(FileSystemEntry entry)
    {
        if (entry.IsDirectory) SetCurrentDirectory(entry);
        else if (CanLaunchApps)
        {
            var type = storage.GetLaunchTypeForExtension(entry.Extension);
            if(type != null) appService.Launch(type, entry);
        }
    }

    protected override async Task OnInitAsync()
    {
        await storage.Initialize();
        currentDirectory = storage.Root;
        path.Push(currentDirectory);
        DirectoryChanged?.Invoke(currentDirectory);
    }
}