﻿@inherits TaskBarComponent

<div class="taskBar noSelect">
    <button class="startButton" onclick="@(_ => StartButtonPressed?.Invoke())">⚙</button>
    <div class="appList">
        @foreach(var window in ApplicationService.Applications)
        {
            <div style="border-style: @(window.IsActive ? "inset; color: white;" : "outset;")" onclick="@(_ => ApplicationService.Activate(window.Id, true))">
                <span>@window.Icon</span>
                <span>@window.Title</span>
            </div>
        }
    </div>
    <div class="clock">
        @time
    </div>
</div>