﻿@inherits WindowComponent

<div class="window" style="@State.Style" onclick="@(_ => ApplicationService.Activate(State.Id, false))">
    <div class="titleBar noSelect" onmousedown="@(_ =>  OnMouseDown(false))" style="@(State.IsActive ? "color: white;" : string.Empty)">
        <span>@State.Icon</span>
        <span>@State.Title</span>
        <button onclick="@(_ => ApplicationService.Close(State.Id))">✕</button>
        @if (State.CanMaximize)
        {
            if (State.IsMaxixmized)
            {
                <button onclick="@(_ => State.IsMaxixmized = false)">⧉</button>
            }
            else
            {
                <button onclick="@(_ => State.IsMaxixmized = true)">☐</button>
            }
        }
        <button onclick="@Minimize">_</button>
        @if(State.HasHelp)
        { <button onclick="@(_ => showHelp = true)">?</button> }
    </div>
    <div class="appWindow">
        @Content
    </div>
    <div class="statusBar">
        @if(State.CanResize)
        { <div class="gripper" onmousedown="@(_ => OnMouseDown(true))"></div> }
    </div>
    @if(State.HasHelp && showHelp)
    {
        <div class="dialog helpDialog">
            <div class="titleBar noSelect">
                <span>@State.Title help</span>
                <button onclick="@(_ => showHelp = false)">✕</button>
            </div>
            <div class="helpContent">
                @((MarkupString)Markdig.Markdown.ToHtml(State.HelpText))
            </div>
        </div>
    }
</div>