﻿@inject StorageService storage

<style>
    .question {
        font-weight: bold;
        color: white;
    }
</style>

<div style="padding: 0 10px;">
    <h1>Well hello there</h1>
    <p>This application was built with a purpose of serving as a fancy CV as opposed to plain old, boring Word or PDF files.
    You'll find that info in the <strong>Curriculum Vitae</strong> application.</p>
    <h2>Q&amp;A</h2>
    <p class="question">What powers this app?</p>
    <p><a href="http://blazor.net" target="_blank">Blazor</a>, a WASM-based front-end framework enabling the use of .NET in the browser. Really nice.</p>
    <p class="question">Is the source code out there somewhere?</p>
    <p>Sure. I keep my code on <a href="https://gitlab.com/velorien_/VCV" target="_blank">GitLab</a> where I enjoy a lifetime supply of private repositories.</p>
    <p class="question">Wait. Why is this on GitHub then?</p>
    <p>Pure vanity. My username on GitLab ends with an underscore which looks ugly in the URL and would annoy me to no end.</p>
    <h2>Links</h2>
    <ul>
        <li>
            <a href="https://www.apixu.com/" target="_blank">https://www.apixu.com/</a> - Weather data
        </li>
        <li>
            <a href="https://github.com/BlazorExtensions/" target="_blank">https://github.com/BlazorExtensions/</a> - Blazor Extensions
        </li>
        <li>
            <a href="https://github.com/lunet-io/markdig" target="_blank">https://github.com/lunet-io/markdig</a> - Markdown parser library
        </li>
    </ul>
    <h2>Actions</h2>
    <button onclick="@Clear">Clear storage</button>
</div>

@functions {
    public async Task Clear() { await storage.Clear(); }
}