﻿<style>
    .diceRoot {
        height: 100%;
        padding: 0 5px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto 2fr;
    }

    .diceControls {
        grid-row-end: span 3;
    }

    .diceControls > * {
        width: 95%;
    }

        .diceControls button {
            height: 30px;
            display: block;
            margin-top: 20px;
        }

    .result {
        text-align: center;
        font-size: 80px;
        color: white;
    }

    .resultComponents {
        overflow-y: auto;
        overflow-wrap: break-word;
    }

        .resultComponents > span {
            font-size: 40px;
            margin: 5px;
        }
</style>

<div class="diceRoot">
    <div class="diceControls">
        <h2>Dice setup</h2>
        <h3>Number of dice</h3>
        <input type="number" bind="numberOfDice" min="1" />
        <h3>Dice sides</h3>
        <input type="number" bind="diceSides" min="2" />
        <h3>Per-die modifier</h3>
        <input type="number" bind="perDieModifier" />
        <h3>Total modifier</h3>
        <input type="number" bind="totalModifier" />
        <button onclick="@Roll">Roll dice</button>
        <button onclick="@(_ => { totalModifier = 0; perDieModifier = 0; })">Reset modifiers</button>
    </div>
    @if (results != null)
    {
        <div>
            <h2>Roll @descriptor</h2>
            <div class="result">@total</div>
        </div>
        <h2>Dice</h2>
        <div class="resultComponents">
            @foreach (var item in results)
            {<span>@item</span>}
        </div>
    }
</div>

@functions {
    private Random random = new Random();
    private int numberOfDice = 1;
    private int diceSides = 6;
    private int perDieModifier;
    private int totalModifier;
    private int[] results;
    private string descriptor;
    private int total;

    private void Roll()
    {
        if (numberOfDice < 1) numberOfDice = 1;
        if (numberOfDice > 10000) numberOfDice = 10000;
        if (diceSides < 2) diceSides = 2;
        descriptor = $"{numberOfDice}d{diceSides}{FormatModifier(perDieModifier * numberOfDice + totalModifier)}";
        results = Enumerable.Range(0, numberOfDice).Select(x => random.Next(1, diceSides + 1)).ToArray();
        total = results.Sum() + perDieModifier * numberOfDice + totalModifier;
    }

    private string FormatModifier(int modifier)
    {
        if (modifier == 0) return string.Empty;
        if (modifier > 0) return $"+{modifier}";
        return modifier.ToString();
    }
}