﻿<style>
    .landminesRoot {
        display: grid;
        grid-template-columns: 200px 1fr;
        height: 100%;
    }

    .landminesSetup {
        padding-left: 5px;
    }

    .landminesSetup > button {
        height: 30px;
        margin-top: 10px;
    }

    .landminesSetup > *{
        width: 95%;
    }

    .minefield {
    display: grid;
        grid-template-columns: repeat(@(minefield?.GetLength(0) ?? 1), 20px);
        grid-template-rows: repeat(@(minefield?.GetLength(1) ?? 1), 20px);
    }
    
    .minefield {
        overflow: auto;
    }

    .minefield div {
        border: 1px outset darkgray;
        text-align: center;
        line-height: 20px;
    }

    .minefield div:active {
        border-style: inset;
    }

    .hidden {
        background-color: darkgray;
        color: red;
    }
</style>

<div class="landminesRoot">
    <div class="landminesSetup">
        <h2>Map setup</h2>
        <h3>Height</h3>
        <input type="number" bind="height" max="50" min="5" />
        <h3>Width</h3>
        <input type="number" bind="width" max="50" min="5" />
        <h3>Mine count</h3>
        <input type="number" bind="mineCount" min="1" />
        <button onclick="@Generate">Generate</button>
        @if (gameLost)
        {
            <p style="color: red; font-size: 20px; margin-top: 10px;">You exploded.</p>
        }
        @if (gameWon)
        {
            <p style="color: white; font-size: 20px; margin-top: 10px;">You won!</p>
        }
        @if (makingMap)
        {
            <p style="color: white; font-size: 20px; margin-top: 10px;">Please wait...</p>
        }
    </div>
    <div class="minefield noSelect">
        @if (minefield != null)
        {
            for (int y = 0; y < minefield.GetLength(1); y++)
            {
                for (int x = 0; x < minefield.GetLength(0); x++)
                {
                    int localX = x, localY = y;
                    <div onclick="@(e => HandleClick(e, localX, localY))" class="@(minefield[localX, localY].Revealed ? string.Empty : "hidden")">
                        @GetSymbol(localX, localY)
                    </div>
                }
            }
        }
    </div>
</div>

@functions {
    private int height = 10;
    private int width = 10;
    private int mineCount = 10;
    private int revealed;
    private int flagged;
    private Minefield[,] minefield;
    private bool gameLost;
    private bool gameWon;
    private bool makingMap;

    protected override void OnInit() => Generate();

    private void Generate()
    {
        makingMap = true;
        StateHasChanged();
        revealed = 0;
        flagged = 0;
        gameLost = false;
        gameWon = false;
        CheckMapValues();
        minefield = new Minefield[width, height];
        for (int x = 0; x < width; x++)
        {
            for (int y = 0; y < height; y++)
            {
                minefield[x, y] = new Minefield();
            }
        }

        PopulateMines();
        makingMap = false;
    }

    private void CheckMapValues()
    {
        if (height > 50) height = 50;
        if (height < 5) height = 5;
        if (width > 50) width = 50;
        if (width < 5) width = 5;
        if (mineCount < 1) mineCount = 1;
        if (mineCount > width * height - 1) mineCount = width * height - 1;
    }

    private string GetSymbol(int x, int y)
    {
        var item = minefield[x, y];
        if (item.Flagged) return "⚑";
        if (item.Revealed && item.HasMine) return "✹";
        if (item.Revealed && item.AdjacentMines > 0) return item.AdjacentMines.ToString();
        return string.Empty;
    }

    private void PopulateMines()
    {
        int currentMines = 0;
        var random = new Random();
        while (currentMines < mineCount)
        {
            int x = random.Next(width);
            int y = random.Next(height);
            if (minefield[x, y].HasMine) continue;
            minefield[x, y].HasMine = true;
            for (int posX = ZeroOrHigher(x - 1); posX <= MaxOrLower(x + 1, width); posX++)
            {
                for (int posY = ZeroOrHigher(y - 1); posY <= MaxOrLower(y + 1, height); posY++)
                {
                    minefield[posX, posY].AdjacentMines++;
                }
            }

            currentMines++;
        }
    }

    private void HandleClick(UIMouseEventArgs e, int x, int y)
    {
        var item = minefield[x, y];
        if (gameLost || gameWon || item.Revealed) return;
        if (e.Button == 2 && !item.Revealed)
        {
            item.Flagged = !item.Flagged;
            if (item.Flagged) flagged++;
            else flagged--;
        }
        else if (item.Flagged) return;
        else if (item.HasMine) Explode();
        else RevealFrom(x, y);

        if (revealed + flagged == width * height && flagged == mineCount) gameWon = true;
    }

    private void RevealFrom(int x, int y)
    {
        if (x < 0 || x >= width || y < 0 || y >= height) return;
        var item = minefield[x, y];
        if (item.HasMine || item.Revealed || item.Flagged) return;
        else item.Revealed = true;
        revealed++;
        if (item.AdjacentMines > 0) return;

        RevealFrom(x - 1, y);
        RevealFrom(x - 1, y - 1);
        RevealFrom(x + 1, y);
        RevealFrom(x + 1, y + 1);
        RevealFrom(x, y - 1);
        RevealFrom(x + 1, y - 1);
        RevealFrom(x, y + 1);
        RevealFrom(x - 1, y + 1);
    }

    private void Explode()
    {
        gameLost = true;
        for(int x = 0; x< width;x++)
        {
            for(int y = 0; y < height; y++)
            {
                var item = minefield[x, y];
                item.Revealed = true;
                if(!item.HasMine) item.Flagged = false;
            }
        }
    }

    private int ZeroOrHigher(int value) => value > 0 ? value : 0;
    private int MaxOrLower(int value, int max) => value < max ? value : max - 1;
}