﻿@inherits ComponentWithFileDialogs

<style>
    .markdownEditor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 40px;
        grid-column-gap: 5px;
        height: 100%;
    }

        .markdownEditor textarea {
            height: 100%;
            width: 100%;
        }

        .markdownEditor button {
            height: 30px;
            margin: 5px;
            padding: 0;
            flex: 1 0 0;
        }

        .markdownEditor .buttons {
            grid-column-end: span 2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
</style>

<div class="markdownEditor">
    <div>
        <textarea bind="markdown" spellcheck="false" />
    </div>
    <div style="overflow: auto;">@((MarkupString)markup)</div>
    <div class="buttons">
        <button onclick="@Update">Refresh</button>
        <button onclick="@Clear">New</button>
        <button onclick="@(async _ => await SaveFile(markdown))">Save</button>
        <button onclick="@(_ => showOpenDialog = true)">Open</button>
    </div>
    @if (showOpenDialog)
    {<OpenFileDialog OnCancel="CloseFileDialog" OnOk="@(f => OnFileOpened(f, async () => await FileOpenedCallback()))" />}
    @if (showSaveDialog)
    {<SaveFileDialog OnCancel="CloseFileDialog" OnOk="@OnFileSaved" FileContent="@markdown" />}
</div>

@functions {
    private string markdown;
    private string markup;

    [Parameter]
    private FileSystemEntry LaunchingFile { get; set; }

    protected override void OnInit()
    {
        if (LaunchingFile != null) OnFileOpened(LaunchingFile, async () => await FileOpenedCallback());
    }

    private async Task FileOpenedCallback()
    {
        markdown = await GetFileContent(currentFile);
        Update();
        StateHasChanged();
    }

    private void Clear()
    {
        markdown = markup = string.Empty;
        currentFile = null;
    }

    private void Update() => markup = Markdig.Markdown.ToHtml(markdown);
}