﻿@inject StorageService storage

<div class="explorerRoot">
    <StorageExplorerPane Activate="@(() => OnActivate(true))" IsActive="leftActive" DirectoryChanged="@(c => left = c)" SelectedChanged="@(c => selectedLeft = c)" CanLaunchApps="true" />
    <StorageExplorerPane Activate="@(() => OnActivate(false))" IsActive="!leftActive" DirectoryChanged="@(c => right = c)" SelectedChanged="@(c => selectedRight = c)" CanLaunchApps="true" />
    @if (currentAction != StorageExplorerAction.None)
    {
        <div class="explorerInput">
            @if (currentAction != StorageExplorerAction.Delete)
            {
                <input type="text" bind="newItemName" />
                <button style="flex-grow: 0.5;" onclick="@OnOk">OK</button>
                <button style="flex-grow: 0.5;" onclick="@OnCancel">Cancel</button>
                <div style="flex-grow: 2; color: red;">
                    @(nameConflict ? "Item with this name already exists." : string.Empty)
                </div>
            }
            else
            {
                <div style="flex-grow: 2;">Do you want to delete the selected item?</div>
                <button style="flex-grow: 0.5;" onclick="@Delete">OK</button>
                <button style="flex-grow: 0.5;" onclick="@(_ => currentAction = StorageExplorerAction.None)">Cancel</button>
            }
        </div>
    }
    <div class="explorerActions">
        <button onclick="@(_ => currentAction = StorageExplorerAction.NewFile)">New file</button>
        <button onclick="@(_ => currentAction = StorageExplorerAction.NewDirectory)">New directory</button>
        <button onclick="@(_ => currentAction = GetSelected() == null ? StorageExplorerAction.None : StorageExplorerAction.Rename)">Rename</button>
        <button onclick="@(_ => currentAction = GetSelected() == null ? StorageExplorerAction.None : StorageExplorerAction.Delete)">Delete</button>
        <button onclick="@(_ => Copy(false))">Copy</button>
        <button onclick="@(_ => Move(false))">Move</button>
    </div>
</div>

@functions {
    private bool leftActive = true;
    private bool nameConflict;
    private StorageExplorerAction currentAction = StorageExplorerAction.None;
    private string newItemName;

    private FileSystemEntry left;
    private FileSystemEntry right;
    private FileSystemEntry selectedLeft;
    private FileSystemEntry selectedRight;

    private FileSystemEntry GetSelected(bool invert = false) => invert ^ leftActive ? selectedLeft : selectedRight;

    private FileSystemEntry GetCurrentDirectory(bool invert = false) => invert ^ leftActive ? left : right;

    private void OnActivate(bool left)
    {
        leftActive = left;
        StateHasChanged();
    }

    private async Task OnOk()
    {
        nameConflict = false;
        if (string.IsNullOrWhiteSpace(newItemName)) return;
        try
        {
            switch (currentAction)
            {
                case StorageExplorerAction.NewDirectory:
                    await storage.CreateDirectory(GetCurrentDirectory(), newItemName);
                    break;
                case StorageExplorerAction.NewFile:
                    await storage.CreateFile(GetCurrentDirectory(), newItemName);
                    break;
                case StorageExplorerAction.Rename:
                    await storage.Rename(GetSelected(), newItemName, GetCurrentDirectory());
                    break;
                case StorageExplorerAction.Move:
                    await Move(true);
                    break;
                case StorageExplorerAction.Copy:
                    await Copy(true);
                    break;
            }

            OnCancel();
            StateHasChanged();
        }
        catch { nameConflict = true; }
    }

    private void OnCancel()
    {
        newItemName = null;
        nameConflict = false;
        currentAction = StorageExplorerAction.None;
    }

    private async Task Delete()
    {
        var item = GetSelected();
        if (item.IsDirectory) await storage.DeleteDirectory(item, GetCurrentDirectory());
        else await storage.DeleteFile(item, GetCurrentDirectory());

        currentAction = StorageExplorerAction.None;
    }

    private async Task Copy(bool useNewName)
    {
        try
        {
            var selected = GetSelected();
            if (selected == null) return;
            await storage.Copy(selected, GetCurrentDirectory(), GetCurrentDirectory(true), useNewName ? newItemName : selected.Name);
        }
        catch { nameConflict = true; currentAction = StorageExplorerAction.Copy; }
    }

    private async Task Move(bool useNewName)
    {
        try
        {
            var selected = GetSelected();
            if (selected == null) return;
            await storage.Move(selected, GetCurrentDirectory(), GetCurrentDirectory(true), useNewName ? newItemName : selected.Name);
        }
        catch { nameConflict = true; currentAction = StorageExplorerAction.Move; }
    }

    private enum StorageExplorerAction
    {
        None, NewFile, NewDirectory, Rename, Delete, Move, Copy
    }
}