﻿@inject HttpClient http

<style>
    .center {
        text-align: center;
        margin-bottom: 0;
    }

    .searchContainer {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        height: 30px;
    }

        .searchContainer input {
            flex: 1 0 auto;
            margin: 0 10px;
            padding-left: 10px;
        }

        .searchContainer button {
            width: 100px;
            flex: 0 1 auto;
        }

    .dataContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
    }

        .dataContainer span {
            color: white;
        }

    .value {
        font-size: 80px;
        text-align: center;
        margin: 0;
    }

    .secondary {
        font-size: 25px;
        color: white;
    }

    .wind {
        display: inline-block;
        font-size: 30px;
    }

        .wind > div:first-child {
            border-bottom: 2px solid darkgray;
        }

    .conditions {
        display: flex;
        text-align: center;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }

        .conditions span {
            margin-left: 10px;
        }

    .extraData {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        font-size: 15px;
    }

        .extraData p {
            color: white;
            margin-bottom: 0;
            font-size: 20px;
        }
</style>

<div style="padding: 0 10px; display: flex; flex-direction: column;">
    <h2>Current weather lookup</h2>
    <div class="searchContainer">
        <button onclick="@(_ => GetWeather("auto:ip"))">Get local</button>
        <input placeholder="Enter city name" bind="city" />
        <button onclick="@(_ => GetWeather(city))">Search</button>
    </div>
    @if (isLoading)
    {
        <h1 class="center">Loading...</h1>
    }
    else if (error != null)
    {
        <h1 class="center">
            Hmm, that's not right.
        </h1>
        <p style="text-align:center;">Please make sure that you've entered the right city name.</p>
        <p style="text-align:center">@error</p>
    }
    else if (data != null)
    {
        <h1 class="center">@data.Location.Name, @data.Location.Country</h1>
        <div class="conditions">
            <img height="64" width="64" src="@data.Current.Condition.Icon" />
            <span>@data.Current.Condition.Text</span>
        </div>
        <div class="dataContainer">
            <div>
                <div class="value">@data.Current.Temp_c&deg;C</div>
                <div class="value secondary">Feels like @data.Current.Feelslike_c&deg;C</div>
            </div>
            <div>
                <div class="value secondary">Wind</div>
                <div class="value">
                    @data.Current.Wind_kph
                    <div class="wind">
                        <div>km</div>
                        <div>h</div>
                    </div>
                    <span style="display: inline-block; transform: rotate(-@(data.Current.Wind_degree)deg">↑</span>
                </div>
            </div>
        </div>
        <div class="extraData">
            <div><p>Pressure</p> @data.Current.Pressure_mb mb</div>
            <div><p>Humidity</p> @data.Current.Humidity%</div>
            <div><p>Visibility</p> @data.Current.Vis_km km</div>
            <div><p>Precipitation</p> @data.Current.Precip_mm mm</div>
        </div>
        <div class="center" style="margin-top: 40px;">Last update @data.Current.Last_updated local time</div>
    }
</div>

@functions {
    private string city;
    private WeatherResponse data;
    private string error;
    private bool isLoading;

    private async Task GetWeather(string location)
    {
        if (string.IsNullOrWhiteSpace(location))
        {
            error = string.Empty; return;
        }

        try
        {
            isLoading = true;
            error = null;
            data = await http.GetJsonAsync<WeatherResponse>("https://api.apixu.com/v1/current.json?key=36ef06c2110c4e09aad114502180109&q=" + location);
            //data = await http.GetJsonAsync<WeatherResponse>("/test/weather.json");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        finally { isLoading = false; }
    }
}