﻿@using System.Text;

<div style="padding: 0 10px; display:flex; flex-direction: column; height: 100%;">
    <h4 class="noSelect">Zalgo text generator</h4>
    <textarea placeholder="Enter text here..." style="flex: 1 0 auto;" bind="@input"></textarea>
    <button style="height: 30px; margin: 10px 0;" onclick="@Zalgofy">Zalgo</button>
    <span readonly style="flex:1 0 auto; resize: none;">@output</span>
</div>

@functions {
    private string input;
    private string output;
    private Random random = new Random();
    private IEnumerable<char> combiningCharacters =
        Enumerable.Range(0x300, 97).Select(x => (char)x);

    private void Zalgofy()
    {
        var sb = new StringBuilder();
        foreach(var c in input)
        {
            sb.Append(c);
            sb.Append(string.Join("", Enumerable.Range(0, random.Next(5, 11)).Select(x => combiningCharacters.ElementAt(random.Next(0, combiningCharacters.Count())))));
        }

        output = sb.ToString();
    }
}